body {
  background-color: #ffffff;
  color: black;
}

.title {
  color: green;
  text-align: center;
}

#success_result {
  background-color: rgba(0,255,0,1);
  width: 200px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 25px 25px 25px 25px;
  border: 1px solid black;
  border-radius: 5px;
}

td {
  padding: 5px;
  text-align: right;
}

table {
  margin: 0 auto;
}

input, textarea {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

textarea{
  height: 300px;
}

.error {
  border: 1px solid red;
}

.error_message {
  color: red;
  text-align: left;
}

.hidden {
  display: none;
}
